<h1><%= @article.id %></h1>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comments</h2>
<ul id="list_comment">
<%= render @article.comments %>
</ul>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>  
